head {
    padding-left: 0px;
    margin-left: 0px;
}

body {
    background-color:aquamarine;
    padding-left: 0px;
    margin-left: 0px;
}

footer {
    background-color: aliceblue;
    padding-right: 5px;
    position:fixed;
    bottom: 0;
    left:0;
}

h1 {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    font-weight: 400;
    color:black;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: aqua;
}

h3 {
    font-size: 40px;
    font-family: cursive;
    font-weight: 400;
    color:black;
    padding-top: 10px;
    padding-left: 10px;
}

h4 {
    font-size: 30px
}

h5 {
    font-family: cursive;
    padding-bottom: 0px;
    padding-top: 20px;
}

.navbar ul {
    list-style-type: none;
    padding-left: 380px;
    font-family: cursive;
    font-size: 15px;
    text-decoration: wavy;
   
}

.navbar-brand {
    font-size: 20px;
    font-family: cursive;
    font-stretch: expanded;
    color:navy;
    font-weight: 600;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.col {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-row {
    padding-top: 10px;
  padding-left: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container2 {
    text-align: center;
    font-family: cursive;
}
