head {
    padding-left: 0px;
    margin-left: 0px;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color:black;
    padding-top: 25px;
    padding-bottom: 15px;
}

h3 {
    font-size: 17px;
}

body {
    background-color:blanchedalmond;
    padding-left: 0px;
    margin-left: 0px;
}

.navbar ul {
    list-style-type: none;
   padding-left: 380px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
   
}

.navbar-brand {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.column {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
