head {
    padding-left: 0px;
    margin-left: 0px;
}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    font-weight: 400;
    color:black;
    padding-top: 25px;
    padding-bottom: 15px;
}

h3 {
    font-size: 17px;
}

body {
    background-color:aquamarine;
    padding-left: 0px;
    margin-left: 0px;
}

.navbar ul {
    list-style-type: none;
    padding-left: 380px;
    font-family: cursive;
    font-size: 15px;
    text-decoration: wavy;
   
}

.navbar-brand {
    font-size: 20px;
    font-family: cursive;
    font-stretch: expanded;
    color:navy;
    font-weight: 600;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.column {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
